Source: wb-mqtt-smartweb
Maintainer: Islam Boziev <i.boziev@wirenboard.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10),
    pkg-config,
    libjsoncpp-dev,
    libwbmqtt1-dev (>= 1.1.0),
    libwbmqtt1-test-utils (>= 1.1.0)

Package: wb-mqtt-smartweb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libjsoncpp0 | libjsoncpp1,
    bsdutils,
    libwbmqtt1 (>= 1.1.0)
Description: Wiren Board MQTT SmartWeb driver.
