[Unit]
Description=MQTT to SmartWeb bridge driver
After=network.target wb-hwconf-manager.service wb-modules.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/bin/wb-mqtt-smartweb -c /etc/wb-mqtt-smartweb.conf
RestartPreventExitStatus=2 6

[Install]
WantedBy=multi-user.target
