[Unit]
Description=MQTT to SmartWeb bridge driver
After=network.target wb-hwconf-manager.service wb-modules.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/wb-mqtt-smartweb -c /etc/wb-mqtt-smartweb.conf

[Install]
WantedBy=multi-user.target